* body {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: lightsteelblue;
}

header {
  text-align: center;
}

.js-input {
  text-align: center;
}

.button {
  background-color: black; /* Green */
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-height: 100px;
  max-width: 200px;
}

.js-add-bookmark {
  border-radius: 5px;
  margin-top: 4em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  max-width: 80%;
}

form * {
  background-color: black;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

.description {
  height: 30%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bookmark-list {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  border: 1px solid grey;
  padding-left: .5em;
  padding-bottom: .5em;
  margin-bottom: .5em;
  margin-right: .5em;
  width: 45%;
}
